<form method="POST" action=/login>
  <label for="email">Email here</label>
  <input id="email" type="email" name="email" placeholder="Enter email" style="width: 300px">
  <label for="password">Password here</label>
  <input id="password" type="password" name="password" placeholder="Password" style="width: 300px">
  <input type="submit" value="Submit">
</form>
  <a href="/register"><button>Register</button></a>