


<form method="POST" action=/register>
<label for="email">E-mail here</label>
      <input id="email" type="email" name="email" placeholder="email here" style="width: 300px">
<label for="password">Password here</label>
      <input id="password" type="password" name="password" placeholder="password here" style="width: 300px">
      <form method="POST" action=/login>
      <input type="submit" value="Submit">
</form>