<!DOCTYPE html>
<html lang="en">
<head>

 <title>TinyApp</title>
</head>
<body>

  <header>
        <% include ./partials/_header %>
    </header>

 <h3>List of Urls:</h3>
<ul>
   <li><%= shortURL %> - <%= urls[shortURL].address %></li>
</ul>

<form action="/urls/<%= shortURL %>" method="POST" style="margin:150px;">
      <label for="longURL">Update a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="<%=urls[shortURL].address%>" style="width: 300px">
      <input type="submit" value="Update">
</form>

</body>
</html>





